<section class="notfoundpart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <article class="lostart">
          <header class="lostheader">
            <div class="alert alert-danger">
                <h2>Oops..... you are out of track</h2>
            </div>
          </header>
          <main class="lostmain">
            <button class="btn btn-sucess" (click)='navigateHome()'>Come back to home</button>
          </main>
        </article>
      </div>
    </div>
  </div>
</section>