<section class="homesection">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <article class="homemain">
            <header class="homemainhead">
              <h1>Welcome to my App</h1>
            </header>
            <main class='homemaincontent'>
                <p>
                  In this App,We Provide <a routerLink='/services'>Services</a> that you can think of...
                </p>
            </main>
            <footer class="homemainfoot">
              <p>If you think of <a routerLink="/contact">Contacting Us...</a> Thank you!!!</p>
            </footer>
        </article>
      </div>
    </div>
  </div>
</section>

